
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family:'Times New Roman', Times, serif;
}
.padre{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    background: rgb(241,116,26);
    background: linear-gradient(90deg, rgba(241,116,26,1) 0%, rgba(19,11,11,1) 100%);
}
.carousel-container {
    position: relative;
    width: 100%;
    max-width: 900px;
    overflow: hidden;
    border-radius: 10px;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel img {
    width: 100%;
    height: auto;
    flex-shrink: 0;
    object-fit: contain;
}

.carousel-container button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}


.info{
    background: rgb(241,116,26);
    background: linear-gradient(90deg, rgba(241,116,26,1) 0%, rgba(19,11,11,1) 100%);
    padding-top: 10px;
    padding-bottom: 10px;
}

.btns{
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
    border-top: 1px solid #fff;
    padding-top: 15px;
}
.btns div{
    font-size: 1.8rem;
    padding: 6px;
    color: #fff;
    margin: 3px;
    border-bottom: 1px solid #000;
    box-shadow: 2px 2px 2px;
    border-radius: 3px;
    cursor: pointer;
    background: #000;
}
.btns div:hover{
    cursor: pointer;
    background: #fff5;
}
.btns a{
    text-decoration: none;
}


.redessociales{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.redessociales img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    box-shadow: 2px 2px 2px #fff;
    padding: 3px;
}

.padre-nombreYTema{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: 1px solid #fff;
}
.padre-nombreYTema div{
max-width: 350px;
}

.titulo-info{
    font-size: 3rem;
    text-align: center;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #fff;
    margin-top: 30px;
}
.logos{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 10px;
}
.logos img{
    width: 50%;
    max-width: 300px;
}


.logo{
    text-align: center;
    padding: 5px;
}
.logo img{
    width: 50%;
    max-width: 300px;
    border-radius: 50%;   
}







.expocitores{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    padding: 5px;
}

.content-img-expocitores{
    max-width: 250px;
    text-align: center;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    border-top: 1px solid #fff;
    background: #ff11;
}
.nombresExpositores{
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
}
.img-expocitores{
    width: 210px;
    height: 210px;
    padding: 20px;
    
}



.bandera{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}
.infoExpocitores{
    width: 100%;
    height: 150px;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    margin-top: 10px;
    padding: 5px;
    text-align: justify;
    padding-top: 10px;
    border-radius: 5px;
    font-size: 1.8rem;
    color: #fff;
}

.comida{
    display: none;
}


.titulo-lugar{
    color: #fff;
    font-size: 2rem;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.link-ubicacion{
    font-size: 1.8rem;
    
    color: #fff;
}
.ubicacion{
    text-align: center;
    margin-bottom: 10px;
}


.cena-desplazar, .lugar-desplazar{
    display: flex;
    height: 300px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    align-items: center;
    margin-bottom: 50px;
}

.cena-desplazar img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin-right: 5px;
    margin-left: 5px;
    
}
.img-lugar{
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin-right: 5px;
    margin-left: 5px;
}


.whatssapp{
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
    padding-bottom: 50px;
}
 
.whatssapp img{
    width: 50%;
    max-width: 200px; 
    margin-bottom: 10px; 
    margin-right: 15px;
}  
.whatssapp a{
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #fff;
    box-shadow: 5px 5px 5px #000;
    padding: 8px;
    cursor: pointer;
    border-radius: 5px;
}
.whatssapp div{
    margin-top: 10px;
}
.whatssapp a:hover{
    background: #fff5;
}


.padre-misionVision{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    padding: 5px;
}
.padre-mision p, .padre-vision p{
    max-width: 350px;
    padding: 10px;
    text-align: justify;
    font-size: 1.8rem;
    color: #fff;
}
.padre-mision h1, .padre-vision h1{
    color: #fff;
    font-size: 3rem;
    text-align: center;
}


.introduccion{
    margin-top: 15px;
}
.introduccion h1{
    font-size: 3rem;
    color: #fff;
    text-align: center;
    margin-bottom: 5px;
    padding: 12px;
}
.introduccion p{
    font-size: 1.8rem;
    color: #fff;
    text-align: justify;
    width: 87%;
    margin-left: auto;
    margin-right: auto;

}





.chat-container {
    background-color: #d18616;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 1.8rem;
}

.chat-box {
    max-height: 300px;
    overflow-y: auto;
    margin-bottom: 20px;
}

.chat-message {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    clear: both;
    display: flex;
    align-items: center;
}

.bot-message {
    background-color: #000;
    color: #fff;
    float: left;
}

.user-message {
    background-color: #f0f0f0;
    float: right;
}

.bot-image {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.opciones {
    display: flex;
    flex-direction: column;
}

.opciones button {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: left;
}

.opciones button:hover {
    background-color: #0005;
}


.padreBoleto{
    text-align: center;
}
.boletoimg{
    width: 90%;
    max-width: 600px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}
.cuentaBanrural{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 25px;
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 5px;
}
.imgBanrural{
    max-width: 100px;
    margin: 15px;
    
}
.numeroCuenta{
    font-size: 2rem;
    color: #fff;
    margin: 10px;
}

.contactoCuenta{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: fit-content;
    border-bottom: 1px solid #fff;
    margin-left: auto;
    margin-right: auto;
}
.iconoWatsContacto{
    width: 50px;
    margin: 10px;
}
.numeroCelContacto{
    color: #fff;
    font-size: 2rem;
}


.artist{
    display: none;
}




.leyenda{
    width: 100%;
    text-align: center;
}
.leyenda p{
    width: 50%;
    color: #fff;
    font-size: 2.3rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.padreAfiche, .padreBanner, .padreManta{
    margin-top: 25px;
    padding-top: 25px;
    text-align: center;
    border-top: 1px solid #fff;
}
.imgAfiche, .imgBanner, .imgManta{
    width: 90%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.imgManta{
    width: 98%;
    max-width: 1000px;
}


.patronicios{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.hijo-patrocinios{
    width: 140px;
    margin-left: 10px;
    padding: 5px;
    border: 1px solid #fff2;
    border-radius: 5px;
}
.img-patrocinios{
    width: 100%;
}
.info-patrocinios{
    color: #fff;
    font-size: 1.5rem;
    text-align: left;
    word-wrap: break-word;
    display: none;
}



@media (min-width: 425px){
    
}

@media (min-width: 768px){
    
    .btns div{
        font-size: 2.1rem;
    }
}

@media (min-width: 1024px){
    .btns div{
        font-size: 2.3rem;
    }
}


